*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
   

}

$widht: 50px;
$height:50px;
$logo: 250px;
$color-titulo:black;
$radius:90%;



/*mixin*/

@mixin titulos {
    background-color: rgb(32, 32, 32);
    height:70px;
    padding:20px;
    color: rgb(197, 197, 197);
    text-align: center

}
.div-titulos{
    @include titulos;
}
/*maps*/

$red-social:(
    instagram: pink,
    facebook: blue,
    whatsapp: green,

);
@each $nombre ,$valor in $red-social{
   .icon-#{$nombre}{
       background-color: $valor;
        height: 50px;
        width: 50px;
        border-radius: 90%;
   }

}






.div__imagen-logo{
    background-color: rgba(56, 15, 15, 0.842);
    
    
    & .div__titulo-rja{
        font-weight: 600;
        color: $color-titulo;

    }
    & .descripcion{
        color: $color-titulo;
    }
   
   
   
    
    
    & .imglogo{
    height: $logo;
    width: $logo;
    border-radius: $radius;
    padding: 20px;
    
    

}
}




.div-materiales{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    gap: 15px;
    background-color: rgb(179, 177, 177);

   


    & .imgmateriales{
        height: $height *4;
        width: $widht *4;
        transition: 2s;
        
        border-radius: $radius;
       
        
    }
    & .imgmateriales:hover{
        height: $height *6;
        width: $widht *6;
        border-radius: $radius;
        box-shadow: 0px 15px 20px ;
        transition: 2s;
    }

}



@media screen  and (max-width: 767px )
{
    .div-materiales{

        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        gap: 15px;
        background-color: rgb(179, 177, 177);
    
       
    
    
        & .imgmateriales{
            height: $height *4;
            width: $widht *4;
            transition: 2s;
            
            border-radius: $radius;
           
            
        }
        & .imgmateriales:hover{
            height: $height *6;
            width: $widht *6;
            border-radius: $radius;
            box-shadow: 0px 15px 20px ;
            transition: 2s;
        }
    
    }

   
    
}


@media screen  and (min-width: 768px ) and (max-width: 1023px)
{
    .div-materiales{

        display: grid;
        grid-template-columns: 1fr 1fr  ;
        justify-items: center;
        text-align: center;
        gap: 15px;
        background-color: rgb(179, 177, 177);
    
       
    
    
        & .imgmateriales{
            height: $height *4;
            width: $widht *4;
            transition: 2s;
            
            border-radius: $radius;
           
            
        }
        & .imgmateriales:hover{
            height: $height *6;
            width: $widht *6;
            border-radius: $radius;
            box-shadow: 0px 15px 20px ;
            transition: 2s;
        }
    
    }

}